<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.TbDeviceItemMapper">
    
    <resultMap type="TbDeviceItem" id="TbDeviceItemResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="value"    column="value"    />
        <result property="lastValue"    column="last_value"    />
        <result property="clock"    column="clock"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTbDeviceItemVo">
        select id, device_id, item_name, value, last_value, clock, status, create_time from tb_device_item
    </sql>

    <select id="selectTbDeviceItemList" parameterType="TbDeviceItem" resultMap="TbDeviceItemResult">
        <include refid="selectTbDeviceItemVo"/>
        <where>  
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="lastValue != null  and lastValue != ''"> and last_value = #{lastValue}</if>
            <if test="clock != null "> and clock = #{clock}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTbDeviceItemById" parameterType="Long" resultMap="TbDeviceItemResult">
        <include refid="selectTbDeviceItemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbDeviceItem" parameterType="TbDeviceItem" useGeneratedKeys="true" keyProperty="id">
        insert into tb_device_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="value != null">value,</if>
            <if test="lastValue != null">last_value,</if>
            <if test="clock != null">clock,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="value != null">#{value},</if>
            <if test="lastValue != null">#{lastValue},</if>
            <if test="clock != null">#{clock},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTbDeviceItem" parameterType="TbDeviceItem">
        update tb_device_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="value != null">value = #{value},</if>
            <if test="lastValue != null">last_value = #{lastValue},</if>
            <if test="clock != null">clock = #{clock},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbDeviceItemById" parameterType="Long">
        delete from tb_device_item where id = #{id}
    </delete>

    <delete id="deleteTbDeviceItemByIds" parameterType="String">
        delete from tb_device_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="batchUpdate" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tb_device_item
            <set >
                <if test="deviceId != null">device_id = #{item.deviceId},</if>
                <if test="itemName != null">item_name = #{item.itemName},</if>
                <if test="value != null">value = #{item.value},</if>
                <if test="lastValue != null">last_value = #{item.lastValue},</if>
                <if test="clock != null">clock = #{item.clock},</if>
                <if test="status != null">status = #{item.status},</if>
            </set>
            where id = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>