<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.TbAlarmEventMapper">
    
    <resultMap type="TbAlarmEvent" id="TbAlarmEventResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="alarmContent"    column="alarm_content"    />
        <result property="alarmLevel"    column="alarm_level"    />
        <result property="alarmSendTimes"    column="alarm_send_times"    />
        <result property="closedAt"    column="closed_at"    />
        <result property="closedNote"    column="closed_note"    />
        <result property="closedUser"    column="closed_user"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbAlarmEventVo">
        select id, device_id, item_id, item_name, alarm_content, alarm_level, alarm_send_times, closed_at, closed_note, closed_user, status, create_by, create_time, update_by, update_time, remark from tb_alarm_event
    </sql>

    <select id="selectTbAlarmEventList" parameterType="TbAlarmEvent" resultMap="TbAlarmEventResult">
        <include refid="selectTbAlarmEventVo"/>
        <where>  
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="alarmContent != null  and alarmContent != ''"> and alarm_content = #{alarmContent}</if>
            <if test="alarmLevel != null  and alarmLevel != ''"> and alarm_level = #{alarmLevel}</if>
            <if test="alarmSendTimes != null "> and alarm_send_times = #{alarmSendTimes}</if>
            <if test="closedAt != null "> and closed_at = #{closedAt}</if>
            <if test="closedNote != null  and closedNote != ''"> and closed_note = #{closedNote}</if>
            <if test="closedUser != null  and closedUser != ''"> and closed_user = #{closedUser}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTbAlarmEventById" parameterType="Long" resultMap="TbAlarmEventResult">
        <include refid="selectTbAlarmEventVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbAlarmEvent" parameterType="TbAlarmEvent" useGeneratedKeys="true" keyProperty="id">
        insert into tb_alarm_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="alarmContent != null">alarm_content,</if>
            <if test="alarmLevel != null">alarm_level,</if>
            <if test="alarmSendTimes != null">alarm_send_times,</if>
            <if test="closedAt != null">closed_at,</if>
            <if test="closedNote != null">closed_note,</if>
            <if test="closedUser != null">closed_user,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="alarmContent != null">#{alarmContent},</if>
            <if test="alarmLevel != null">#{alarmLevel},</if>
            <if test="alarmSendTimes != null">#{alarmSendTimes},</if>
            <if test="closedAt != null">#{closedAt},</if>
            <if test="closedNote != null">#{closedNote},</if>
            <if test="closedUser != null">#{closedUser},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbAlarmEvent" parameterType="TbAlarmEvent">
        update tb_alarm_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="alarmContent != null">alarm_content = #{alarmContent},</if>
            <if test="alarmLevel != null">alarm_level = #{alarmLevel},</if>
            <if test="alarmSendTimes != null">alarm_send_times = #{alarmSendTimes},</if>
            <if test="closedAt != null">closed_at = #{closedAt},</if>
            <if test="closedNote != null">closed_note = #{closedNote},</if>
            <if test="closedUser != null">closed_user = #{closedUser},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbAlarmEventById" parameterType="Long">
        delete from tb_alarm_event where id = #{id}
    </delete>

    <delete id="deleteTbAlarmEventByIds" parameterType="String">
        delete from tb_alarm_event where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>