<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.TbDeviceGroupMapper">
    
    <resultMap type="DeviceGroupVO" id="TbDeviceGroupResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="group_name"    />
        <result property="alarmUserGrpId"    column="alarm_user_grp_id"    />
        <result property="alarmMaxTimes"    column="alarm_max_times"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deviceCount" column="deviceCount" />
    </resultMap>

    <sql id="selectTbDeviceGroupVo">
        select g.*,d.count(d.id) deviceCount from tb_device_group g, tb_device d
    </sql>

    <select id="selectTbDeviceGroupList" parameterType="TbDeviceGroup" resultMap="TbDeviceGroupResult">
        <include refid="selectTbDeviceGroupVo"/>
        <where>  
            <if test="groupName != null  and groupName != ''"> and group_name like concat('%', #{groupName}, '%')</if>
            <if test="alarmUserGrpId != null  and alarmUserGrpId != ''"> and alarm_user_grp_id = #{alarmUserGrpId}</if>
            <if test="alarmMaxTimes != null "> and alarm_max_times = #{alarmMaxTimes}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="deviceGroupList" parameterType="TbDeviceGroup" resultMap="TbDeviceGroupResult">
        select g.*,count(d.id) as deviceCount from tb_device_group g ,tb_device d
        <where>
            <if test="groupName != null  and groupName != ''"> and g.group_name like concat('%', #{groupName}, '%')</if>
            <if test="id != null  and alarmUserGrpId != ''"> and g.id = #{id}</if>
        </where>
    </select>

    <select id="selectTbDeviceGroupById" parameterType="Long" resultMap="TbDeviceGroupResult">
        <include refid="selectTbDeviceGroupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbDeviceGroup" parameterType="TbDeviceGroup" useGeneratedKeys="true" keyProperty="id">
        insert into tb_device_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupName != null">group_name,</if>
            <if test="alarmUserGrpId != null">alarm_user_grp_id,</if>
            <if test="alarmMaxTimes != null">alarm_max_times,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupName != null">#{groupName},</if>
            <if test="alarmUserGrpId != null">#{alarmUserGrpId},</if>
            <if test="alarmMaxTimes != null">#{alarmMaxTimes},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbDeviceGroup" parameterType="TbDeviceGroup">
        update tb_device_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null">group_name = #{groupName},</if>
            <if test="alarmUserGrpId != null">alarm_user_grp_id = #{alarmUserGrpId},</if>
            <if test="alarmMaxTimes != null">alarm_max_times = #{alarmMaxTimes},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbDeviceGroupById" parameterType="Long">
        delete from tb_device_group where id = #{id}
    </delete>

    <delete id="deleteTbDeviceGroupByIds" parameterType="String">
        delete from tb_device_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="checkRepeat" resultType="Long" parameterType="TbDeviceGroup">
        select count(*) from tb_device_group
        where id != #{id} and group_name = #{groupName}
    </select>
</mapper>