<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.TbDeviceItemHisMapper">
    
    <resultMap type="TbDeviceItemHis" id="TbDeviceItemHisResult">
        <result property="id"       column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="value"    column="value"    />
        <result property="counter"    column="counter"    />
        <result property="clock"    column="clock"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTbDeviceItemHisVo">
        select * from tb_item_his
    </sql>

    <select id="selectTbDeviceItemHisList" parameterType="TbDeviceItemHis" resultMap="TbDeviceItemHisResult">
        <include refid="selectTbDeviceItemHisVo"/>
        <where>  
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="counter != null  and counter != ''"> and counter = #{counter}</if>
            <if test="clock != null "> and clock = #{clock}</if>
        </where>
    </select>
    
    <select id="selectTbDeviceItemHisById" parameterType="Long" resultMap="TbDeviceItemHisResult">
        <include refid="selectTbDeviceItemHisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbDeviceItemHis" parameterType="TbDeviceItemHis" useGeneratedKeys="true" keyProperty="id">
        insert into tb_item_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="counter != null">counter,</if>
            <if test="itemName != null">item_name,</if>
            <if test="value != null">value,</if>
            <if test="clock != null">clock,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="counter != null">#{counter},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="value != null">#{value},</if>
            <if test="clock != null">#{clock},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTbDeviceItemHis" parameterType="TbDeviceItemHis">
        update tb_item_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="counter != null">counter = #{counter},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="value != null">value = #{value},</if>
            <if test="clock != null">clock = #{clock},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbDeviceItemHisById" parameterType="Long">
        delete from tb_item_his where id = #{id}
    </delete>

    <delete id="deleteTbDeviceItemHisByIds" parameterType="String">
        delete from tb_item_his where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>