<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.TbDeviceItemHisMapper">
    
    <resultMap type="TbDeviceItemHis" id="TbDeviceItemHisResult">
        <result property="id"       column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="value"    column="value"    />
        <result property="counter"    column="counter"    />
        <result property="clock"    column="clock"    />
    </resultMap>

    <resultMap type="ItemGraphVo" id="ItemHisRes">
        <result property="itemId"    column="item_id"    />
        <result property="value"    column="value"    />
        <result property="counter"    column="counter"    />
        <result property="clock"    column="clockA"    />
    </resultMap>
    <resultMap type="ItemGraphVo" id="ItemTop">
        <result property="itemId"    column="item_id"    />
        <result property="value"    column="value"    />
        <result property="itemName"    column="item_name"    />
        <result property="deviceIp"    column="device_ip"    />
    </resultMap>
    <sql id="selectTbDeviceItemHisVo">
        select * from tb_item_his
    </sql>

    <select id="selectTbDeviceItemHisList" parameterType="TbDeviceItemHis" resultMap="TbDeviceItemHisResult">
        <include refid="selectTbDeviceItemHisVo"/>
        <where>  
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="counter != null  and counter != ''"> and counter = #{counter}</if>
            <if test="clock != null "> and clock = #{clock}</if>
        </where>
    </select>
    
    <select id="selectTbDeviceItemHisById" parameterType="Long" resultMap="TbDeviceItemHisResult">
        <include refid="selectTbDeviceItemHisVo"/>
        where id = #{id}
    </select>

    <update id="insertBatch" parameterType="java.util.List" >
        insert into tb_item_his (device_id,item_id,counter,value,clock) values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (#{item.deviceId},#{item.itemId},#{item.counter},#{item.value},#{item.clock})
        </foreach>
    </update>

    <insert id="insertTbDeviceItemHis" parameterType="TbDeviceItemHis" useGeneratedKeys="true" keyProperty="id">
        insert into tb_item_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="counter != null">counter,</if>
            <if test="value != null">value,</if>
            <if test="clock != null">clock,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="counter != null">#{counter},</if>
            <if test="value != null">#{value},</if>
            <if test="clock != null">#{clock},</if>
         </trim>
    </insert>

    <update id="updateTbDeviceItemHis" parameterType="TbDeviceItemHis">
        update tb_item_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="counter != null">counter = #{counter},</if>
            <if test="value != null">value = #{value},</if>
            <if test="clock != null">clock = #{clock},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteTbDeviceItemHisById" parameterType="Long">
        delete from tb_item_his where id = #{id}
    </delete>

    <delete id="deleteTbDeviceItemHisByIds" parameterType="String">
        delete from tb_item_his where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectDeviceGraph" parameterType="ItemHisDto" resultMap="ItemHisRes">
        select sum(value) `value` ,FROM_UNIXTIME(clock) clockA ,counter from tb_item_his
        where device_id = #{deviceId}
        <if test="startClock != null"> and clock &gt;= UNIX_TIMESTAMP(#{startClock})</if>
        <if test="endClock != null">and clock &lt;= UNIX_TIMESTAMP(#{endClock})</if>
        <if test="counters != null">
            and counter in
            <foreach item="counter" collection="counters" open="(" separator="," close=")">
                #{counter}
            </foreach>
        </if>
        GROUP BY clockA
        order by clockA
    </select>
    <select id="selectGraph" parameterType="ItemHisDto" resultMap="ItemHisRes">
        select avg(value) value,counter,FROM_UNIXTIME(clock -MOD(clock,#{step})) clockA,item_id from tb_item_his
        <where>
            <if test="startClock != null"> and clock &gt;= UNIX_TIMESTAMP(#{startClock})</if>
            <if test="endClock != null">and clock &lt;= UNIX_TIMESTAMP(#{endClock})</if>
            <if test="itemId != null">and item_id = #{itemId}</if>
            <if test="counters != null">
                and counter in
                <foreach item="counter" collection="counters" open="(" separator="," close=")">
                    #{counter}
                </foreach>
            </if>
        </where>
        group by clockA
        order by clock
    </select>

    <select id="selectTop" resultMap="ItemTop" parameterType="ItemHisDto">
        select DISTINCT(h.item_id) item_id , max(h.value) value,i.item_name item_name,d.device_ip,d.device_name from tb_item_his h
        LEFT JOIN tb_device_item i on h.item_id = i.id
        left join tb_device d on d.id = i.device_id
        where h.clock &gt;= UNIX_TIMESTAMP(#{startClock})
        and i.is_port = 0
        and h.counter in
        <foreach item="counter" collection="counters" open="(" separator="," close=")">
            #{counter}
        </foreach>
        GROUP BY h.item_id
        order by h.`value` desc
        limit 5
    </select>


</mapper>