<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.TbEventsMapper">
    
    <resultMap type="TbEvents" id="TbEventsResult">
        <result property="id"    column="id"    />
        <result property="eventId"    column="event_id"    />
        <result property="step"    column="step"    />
        <result property="cond"    column="cond"    />
        <result property="userName"    column="user_name"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbEventsVo">
        select id, event_id, step, cond, user_name, status, create_by, create_time, update_by, update_time, remark from tb_events
    </sql>

    <select id="selectTbEventsList" parameterType="TbEvents" resultMap="TbEventsResult">
        <include refid="selectTbEventsVo"/>
        <where>  
            <if test="eventId != null "> and event_id = #{eventId}</if>
            <if test="step != null "> and step = #{step}</if>
            <if test="cond != null  and cond != ''"> and cond = #{cond}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTbEventsById" parameterType="Long" resultMap="TbEventsResult">
        <include refid="selectTbEventsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbEvents" parameterType="TbEvents" useGeneratedKeys="true" keyProperty="id">
        insert into tb_events
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventId != null">event_id,</if>
            <if test="step != null">step,</if>
            <if test="cond != null and cond != ''">cond,</if>
            <if test="userName != null">user_name,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventId != null">#{eventId},</if>
            <if test="step != null">#{step},</if>
            <if test="cond != null and cond != ''">#{cond},</if>
            <if test="userName != null">#{userName},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbEvents" parameterType="TbEvents">
        update tb_events
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventId != null">event_id = #{eventId},</if>
            <if test="step != null">step = #{step},</if>
            <if test="cond != null and cond != ''">cond = #{cond},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbEventsById" parameterType="Long">
        delete from tb_events where id = #{id}
    </delete>

    <delete id="deleteTbEventsByIds" parameterType="String">
        delete from tb_events where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>