<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.TbSmtpConfMapper">
    
    <resultMap type="TbSmtpConf" id="TbSmtpConfResult">
        <result property="id"    column="id"    />
        <result property="smtpName"    column="smtp_name"    />
        <result property="smtpHost"    column="smtp_host"    />
        <result property="sender"    column="sender"    />
        <result property="port"    column="port"    />
        <result property="enableSsl"    column="enable_ssl"    />
        <result property="smtpUser"    column="smtp_user"    />
        <result property="smtpPasswd"    column="smtp_passwd"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbSmtpConfVo">
        select id, smtp_name, smtp_host, sender, port, enable_ssl, smtp_user, smtp_passwd, status, create_by, create_time, update_by, update_time, remark from tb_smtp_conf
    </sql>

    <select id="selectTbSmtpConfList" parameterType="TbSmtpConf" resultMap="TbSmtpConfResult">
        <include refid="selectTbSmtpConfVo"/>
        <where>  
            <if test="smtpName != null  and smtpName != ''"> and smtp_name like concat('%', #{smtpName}, '%')</if>
            <if test="smtpHost != null  and smtpHost != ''"> and smtp_host = #{smtpHost}</if>
            <if test="sender != null  and sender != ''"> and sender = #{sender}</if>
            <if test="port != null "> and port = #{port}</if>
            <if test="enableSsl != null "> and enable_ssl = #{enableSsl}</if>
            <if test="smtpUser != null  and smtpUser != ''"> and smtp_user = #{smtpUser}</if>
            <if test="smtpPasswd != null  and smtpPasswd != ''"> and smtp_passwd = #{smtpPasswd}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTbSmtpConfById" parameterType="Long" resultMap="TbSmtpConfResult">
        <include refid="selectTbSmtpConfVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbSmtpConf" parameterType="TbSmtpConf" useGeneratedKeys="true" keyProperty="id">
        insert into tb_smtp_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="smtpName != null and smtpName != ''">smtp_name,</if>
            <if test="smtpHost != null and smtpHost != ''">smtp_host,</if>
            <if test="sender != null and sender != ''">sender,</if>
            <if test="port != null">port,</if>
            <if test="enableSsl != null">enable_ssl,</if>
            <if test="smtpUser != null and smtpUser != ''">smtp_user,</if>
            <if test="smtpPasswd != null and smtpPasswd != ''">smtp_passwd,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="smtpName != null and smtpName != ''">#{smtpName},</if>
            <if test="smtpHost != null and smtpHost != ''">#{smtpHost},</if>
            <if test="sender != null and sender != ''">#{sender},</if>
            <if test="port != null">#{port},</if>
            <if test="enableSsl != null">#{enableSsl},</if>
            <if test="smtpUser != null and smtpUser != ''">#{smtpUser},</if>
            <if test="smtpPasswd != null and smtpPasswd != ''">#{smtpPasswd},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbSmtpConf" parameterType="TbSmtpConf">
        update tb_smtp_conf
        <trim prefix="SET" suffixOverrides=",">
            <if test="smtpName != null and smtpName != ''">smtp_name = #{smtpName},</if>
            <if test="smtpHost != null and smtpHost != ''">smtp_host = #{smtpHost},</if>
            <if test="sender != null and sender != ''">sender = #{sender},</if>
            <if test="port != null">port = #{port},</if>
            <if test="enableSsl != null">enable_ssl = #{enableSsl},</if>
            <if test="smtpUser != null and smtpUser != ''">smtp_user = #{smtpUser},</if>
            <if test="smtpPasswd != null and smtpPasswd != ''">smtp_passwd = #{smtpPasswd},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbSmtpConfById" parameterType="Long">
        delete from tb_smtp_conf where id = #{id}
    </delete>

    <delete id="deleteTbSmtpConfByIds" parameterType="String">
        delete from tb_smtp_conf where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>